# Node dependencies
node_modules
Backend/node_modules

# Environment variables
.env
Backend/.env

# Firebase admin SDK
serviceAccountKey.json
Backend/serviceAccountKey.json

# Build output
dist

# Logs
*.log
